*.lp
*.lpo
*.swp
depend
depend-stage
*.old
*.cmo
*.cmi
*.*~
*.swo
runner.*
*.kate-swp
proofs/tstpparser/tstplexer.ml
proofs/tstpparser/tstpparser
proofs/tstpparser/tstpparser.ml
proofs/tstpparser/tstpparser.mli
